In [4]:
from allTopNaver import one_page_list

df = one_page_list(1, 1)
df = df.sort_values('현재가')
df

['삼성전자', 57500]
['LG에너지솔루션', 399500]
['SK하이닉스', 94000]
['삼성바이오로직스', 825000]
['삼성전자우', 53500]
['현대차', 182500]
['NAVER', 233500]
['LG화학', 530000]
['삼성SDI', 541000]
['카카오', 72100]
['기아', 78800]
['셀트리온', 189000]
['삼성물산', 113000]
['현대모비스', 211500]
['POSCO홀딩스', 223000]
['KB금융', 45350]
['신한지주', 34000]
['SK이노베이션', 172500]
['SK', 206500]
['LG전자', 90200]
['카카오뱅크', 30900]
['한국전력', 21500]
['크래프톤', 245000]
['SK텔레콤', 54900]
['LG', 76000]
['삼성생명', 57800]
['SK바이오사이언스', 150000]
['HMM', 23500]
['두산에너빌리티', 17800]
['LG생활건강', 720000]
['KT&G', 81000]
['하나금융지주', 34800]
['현대중공업', 115000]
['S-Oil', 90600]
['삼성에스디에스', 130500]
['삼성전기', 132000]
['KT', 36950]
['삼성화재', 197000]
['대한항공', 24850]
['카카오페이', 68100]
['고려아연', 452000]
['포스코케미칼', 110000]
['우리금융지주', 11300]
['엔씨소프트', 367500]
['LG이노텍', 339500]
['아모레퍼시픽', 134500]
['현대글로비스', 182500]
['하이브', 163500]
['기업은행', 9030]
['한화솔루션', 32950]

          종목명     현재가
48       기업은행    9030
42     우리금융지주   11300
28    두산에너빌리티   17800
21       한국전력   21500
27        HMM   23500
38       대한항공   24850
20      카카오뱅크   30900
49      한화솔루션   32950
16       신한지주   34000
31     하나금융지주   34800
36         KT   36950
15       KB금융   45350
4       삼성전자우   53500
23      SK텔레콤   54900
0        삼성전자   57500
25       삼성생명   57800
39      카카오페이   68100
9         카카오   72100
24         LG   76000
10         기아   78800
30       KT&G   81000
19       LG전자   90200
33      S-Oil   90600
2      SK하이닉스   94000
41     포스코케미칼  110000
12       삼성물산  113000
32      현대중공업  115000
34    삼성에스디에스  130500
35       삼성전기  132000
45     아모레퍼시픽  134500
26  SK바이오사이언스  150000
47        하이브  163500
17    SK이노베이션  172500
46     현대글로비스  182500
5         현대차  182500
11       셀트리온  189000
37       삼성화재  197000
18         SK  206500
13      현대모비스  211500
14   POSCO홀딩스  223000
6       NAVER  233500
22       크래프톤  245000
44      LG이노텍  339500
43      엔씨소프트  367500
1    LG에너지솔루션  399500
40       고려아연  452000
7        LG화학  530000
8       삼성SDI  541000
29     LG생활건강  720000
3    삼성바이오로직스  825000